.product img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    object-fit: cover;
}

/* Pagination Style */
#featured > div.row.mx-auto.container > nav > ul > li.page-item.active > a {
    background-color: var(--brand-color); /* Aktif jadi Indigo */
    border-color: var(--brand-color);
    color: #fff;
}

#featured > div.row.mx-auto.container > nav > ul > li:nth-child(n) > a {
    color: var(--text-main);
    background-color: #fff;
    border: 1px solid #E5E7EB;
}

#featured > div.row.mx-auto.container > nav > ul > li:nth-child(n):hover > a {
    background-color: var(--cta-color); /* Hover jadi Orange */
    color: #fff;
    border-color: var(--cta-color);
}

.pagination a {
    color: var(--text-main);
}